<form method="POST">
<textarea style="border: 1 solid black " name="text" id="text" cols="30" rows="4">{{this.a}}</textarea>
<input name="ip" id="ip" style="border: 1 solid black " type="text" value="{{this.b}}">
<button type="submit">Click Me!</button>
</form>