<section id="mainContent">
    <div class="content_bottom">
      <div class="col-lg-8 col-md-8">
        <div class="content_bottom_left">
          <div class="single_page_area">
            <ol class="breadcrumb">
              <li><a href="#">Home</a></li>
              <li><a href="#">Technology</a></li>
              <li class="active">Duis quis erat non nunc fringilla </li>
            </ol>
            <h2 class="post_titile">Chán thành thị, đôi vợ chồng về quê nuôi dê mà thành triệu phú</h2>
            <div class="single_page_content">
              <div class="post_commentbox"> <a href="#"><i class="fa fa-user"></i>Wpfreeware</a> <span><i class="fa fa-calendar"></i>6:49 AM</span> <a href="#"><i class="fa fa-tags"></i>Technology</a> </div>
     
              <h4>Hạng Đình Nghị, năm nay 32 tuổi, sau khi từ bỏ công việc lương cao ở thành phố lớn, anh đã quyết tâm quay trở về quê chăn nuôi và hiện đang là chủ sở hữu của một đàn dê khoảng 200 con.</h4>
             
              <p>3 năm trước, Hạng Đình Nghị và vợ của mình đang là nhân viên văn phòng cho một công ty tư nhân ở thành phố Hàng Châu, Trung Quốc, mức lương trung bình năm là 40 vạn tệ (khoảng 1,3 tỷ đồng). Nhưng vì quá mệt mỏi với nhịp sống nơi thành thị, hai vợ chồng quyết định nghỉ việc về quê chăn dê.

Một lần vào dịp nghỉ Tết, Hạng Đình Nghị đưa vợ và con về quê. “Không khí ở đây đem lại cảm giác rất thoải mái, dễ chịu, đây là thứ không thể cảm nhận được khi còn ở Hàng Châu… Cảm giác này thật tốt!”, Hạng Đình Nghị nói, cũng từ lúc đó, anh bắt đầu có ý tưởng sẽ về quê chăn dê.</p>

             
              <img class="img-center" src="../images/1553595408-735-met-moi-voi-cuoc-song-noi-thanh-thi-hai-vo-chong-ve-que-nuoi-de-thanh-trieu-phu----nh-1-1553586408-width470height337.jpg" alt="">
              <p style="color:#0000ff;font-style:italic;text-align:center;">Hạng Đình Nghị có ý tưởng về quê chăn dê sau 1 lần về nghỉ Tết</p>
              <p>Sau khi về quê, mỗi ngày đều đặn thả dê, chăn dê khiến Hạng Đình Nghị cảm thấy cuộc sống rất thiết thực và yên bình. Nhưng vì nghĩ đến chuyện học hành của con cái nên vợ của anh đã đưa con quay trở lại Hàng Châu. Hiện tại ở thôn Long Khanh này mọi người đều đã rời đi hết, ngoài Đình Nghị và bố mẹ ra thì chỉ còn hai hộ gia đình già khác. Thứ đem đến sự náo nhiệt ở nơi đây chính là hơn 200 con dê và mấy chục con gà mà Đình Nghị nuôi.

Hạng Đình Nghị luôn rất biết ơn cha mẹ mình: “Không có họ ủng hộ tôi, có lẽ tôi đã không trụ được đến hôm nay”. Vì để ủng hộ con trai khởi nghiệp, cặp vợ chồng già đã chuyển từ thị trấn xuống sống ở khu vực hẻo lánh này.

Nhớ lại con đường chăn nuôi của mình, Hạng Đình Nghị nói rằng ban đầu vì không hiểu về chăn dê nên anh đã phải đi rất nhiều đường vòng. Đầu tư 80 vạn tệ (khoảng 2,7 tỷ đồng), lỗ mất 40 vạn tệ (khoảng 1,3 tỷ đồng).

</p>
              <img class="img-center" src="../images/1553595409-367-met-moi-voi-cuoc-song-noi-thanh-thi-hai-vo-chong-ve-que-nuoi-de-thanh-trieu-phu----nh-2-1553586394-width486height271.jpg" alt="">
              <p style="color:#0000ff;font-style:italic;text-align:center;">Hiện anh đang là chủ sở hữu của hơn 200 con dê</p>
              <p>Năm đầu tiên, mặc dù tổn thất 40 vạn tệ nhưng cũng nhờ đó mà anh đã học hỏi được kinh nghiệm. Năm thứ 2, những con dê mà Đình Nghị nuôi đều rất khỏe mạnh, xuất chuồng được khoảng 500 con, kiếm được 20 vạn tệ (khoảng 600 triệu đồng).

Năm nay, số lượng dê anh nuôi là 200 con, đồng thời anh cũng đang có ý định mở rộng chuồng cũ.

“Năm nay tôi dự định sẽ cho xuất chuồng 1000 con, hiện thực hóa mục tiêu thu nhập 60 vạn tệ (khoảng 2 tỷ đồng) của mình.”, Hạng Đình Nghị nói.</p>
        
        <div>

          <p>Download: <a  download="Triệu Phú Nuôi Dê" style="color:#0000ff;font-style:italic;text-align:center;" href="C:/Users/King_SPG/Desktop/ứng dụng wed/Đồ Án/magexpress/PDF/Tỷ phú nuôi dê.PDF" target="_blank">Tỷ Phú Nuôi Dê</a></p> 
                        <div class="Tags">
                          <strong>Tags: </strong>
                          <a href="pages/single.html">Bai Viet 1</a>
                          ,
                          <a href="pages/single.html">Bai Viet 2</a>
                        </div></div>

            </div>
          </div>
        </div>
        
        
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="content_bottom_right">
          <div class="single_bottom_rightbar">
            <h2>Bài viết gần đây</h2>
            <ul class="small_catg popular_catg wow fadeInDown">
              <li>
                <div class="media wow fadeInDown"> <a href="#" class="media-left"> <img alt="" src="../images/1553595408-735-met-moi-voi-cuoc-song-noi-thanh-thi-hai-vo-chong-ve-que-nuoi-de-thanh-trieu-phu----nh-1-1553586408-width470height337.jpg"> </a>
                  <div class="media-body">
                    <h4 class="media-heading"><a href="KN_capVoChong9x.html">Cặp vợ chồng 9X về quê nuôi con tai dài, lợi nhuận tiền tỷ mỗi năm</a></h2></h4>
                    <p>Năm 2016, cặp vợ chồng 9X Trương Hiểu Lộ và Tào Vỹ quyết tâm về quê ở huyện Jimsar, Tân Cương, Trung Quốc khởi nghiệp. Sau 3 năm cố gắng... </p>

                  </div>
                </div>
              </li>
              <li>
                <div class="media wow fadeInDown"> <a href="#" class="media-left"> <img alt="" src="../images/1553249218-808-kiem-them-vai-chuc-trieu-mot-nam-chi-nho-10-phut-moi-ngay-ngay-tai-nha-a1-1552891712-width960height1440.jpg"> </a>
                  <div class="media-body">
                    <h4 class="media-heading"><a href="KN_10PhutMoiNgay.html">Kiếm thêm vài chục triệu một năm chỉ nhờ 10 phút mỗi ngày ngay tại nhà</a></h4>
                    <p>Peter Chatfield, 39 tuổi, đã quyết tâm kiếm thêm tiền tại nhà sau khi gia đình chịu khoản nợ trị giá 7.000 bảng Anh (hơn 200 triệu VND). </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="media wow fadeInDown"> <a href="#" class="media-left"> <img alt="" src="../images/1554979806-621-co-gai-tre-phat-tai-tu-thu-la-quen-thuoc-noi-thon-que-a2-1554730350-width500height300.jpg"> </a>
                  <div class="media-body">
                    <h4 class="media-heading"><a href="KN_tyPhuTraXanh.html">Thành tỷ phú từ thứ lá "quê mùa" có đầy ở Việt Nam</a></h4>
                    <p>Một cô gái trẻ từ bỏ công việc văn phòng, làm giàu từ chính lá trà xanh quê mình </p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="single_bottom_rightbar">
            <ul role="tablist" class="nav nav-tabs custom-tabs">
              <li class="active" role="presentation"><a data-toggle="tab" role="tab" aria-controls="home" href="#mostPopular">Nổi bật</a></li>
              <li  role="presentation"><a data-toggle="tab" role="tab" aria-controls="messages" href="#mostPopular">Mới nhất</a></li>
              <li role="presentation"><a data-toggle="tab" role="tab" aria-controls="messages" href="#mostPopular">Xem Nhiều nhất</a></li>
            </ul>
            <div class="tab-content">
              <div id="mostPopular" class="tab-pane fade in active" role="tabpanel">
                <ul class="small_catg popular_catg wow fadeInDown">
              <li>
                <div class="media wow fadeInDown"> <a href="#" class="media-left"> <img alt="" src="../images/1553595408-735-met-moi-voi-cuoc-song-noi-thanh-thi-hai-vo-chong-ve-que-nuoi-de-thanh-trieu-phu----nh-1-1553586408-width470height337.jpg"> </a>
                  <div class="media-body">
                    <h4 class="media-heading"><a href="KN_capVoChong9x.html">Cặp vợ chồng 9X về quê nuôi con tai dài, lợi nhuận tiền tỷ mỗi năm</a></h2></h4>
                    <p>Năm 2016, cặp vợ chồng 9X Trương Hiểu Lộ và Tào Vỹ quyết tâm về quê ở huyện Jimsar, Tân Cương, Trung Quốc khởi nghiệp. Sau 3 năm cố gắng... </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="media wow fadeInDown"> <a href="#" class="media-left"> <img alt="" src="../images/1553249218-808-kiem-them-vai-chuc-trieu-mot-nam-chi-nho-10-phut-moi-ngay-ngay-tai-nha-a1-1552891712-width960height1440.jpg"> </a>
                  <div class="media-body">
                    <h4 class="media-heading"><a href="KN_10PhutMoiNgay.html">Kiếm thêm vài chục triệu một năm chỉ nhờ 10 phút mỗi ngày ngay tại nhà</a></h4>
                    <p>Peter Chatfield, 39 tuổi, đã quyết tâm kiếm thêm tiền tại nhà sau khi gia đình chịu khoản nợ trị giá 7.000 bảng Anh (hơn 200 triệu VND). </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="media wow fadeInDown"> <a href="#" class="media-left"> <img alt="" src="../images/1554979806-621-co-gai-tre-phat-tai-tu-thu-la-quen-thuoc-noi-thon-que-a2-1554730350-width500height300.jpg"> </a>
                  <div class="media-body">
                    <h4 class="media-heading"><a href="KN_tyPhuTraXanh.html">Thành tỷ phú từ thứ lá "quê mùa" có đầy ở Việt Nam</a></h4>
                    <p>Một cô gái trẻ từ bỏ công việc văn phòng, làm giàu từ chính lá trà xanh quê mình </p>
                  </div>
                </div>
              </li>
            </ul>
              </div>
              <div id="recentComent" class="tab-pane fade" role="tabpanel">
                <ul class="small_catg popular_catg">
                  <li>
                    <div class="media wow fadeInDown"> <a class="media-left" href="#"> <img src="../images/112x112.jpg" alt=""> </a>
                      <div class="media-body">
                        <h4 class="media-heading"><a href="#">Duis condimentum nunc pretium lobortis </a></h4>
                        <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a pharetra </p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="media wow fadeInDown"> <a class="media-left" href="#"> <img src="../images/112x112.jpg" alt=""> </a>
                      <div class="media-body">
                        <h4 class="media-heading"><a href="#">Duis condimentum nunc pretium lobortis </a></h4>
                        <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a pharetra </p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="media wow fadeInDown"> <a class="media-left" href="#"> <img src="../images/112x112.jpg" alt=""> </a>
                      <div class="media-body">
                        <h4 class="media-heading"><a href="#">Duis condimentum nunc pretium lobortis </a></h4>
                        <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a pharetra </p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="single_bottom_rightbar">
            
          </div>
          <div class="single_bottom_rightbar wow fadeInDown">
           
          </div>
        </div>
      </div>
      </div>
    </div>
  </section>
</div>
<footer id="footer">
  <div class="footer_top">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="single_footer_top wow fadeInLeft">
           
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="single_footer_top wow fadeInDown">
           
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="single_footer_top wow fadeInRight">
           
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="footer_bottom_left">
           
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="footer_bottom_right">
           
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>