<label style="margin-top: 20px; font-size: 16px">Chọn chuyên mục</label>
		<select>
			<option value="BongDa">Bóng đá</option>
			<option value="BongChuyen">Bóng chuyền</option>
			<option value="TinTucHoChiMinh">Tin tức Hồ Chí Minh</option>
			<option value="TinTucNgheAn">Tin tức Nghệ An</option>
			<option value="AmThucVietNam">Ẩm thực Việt Nam</option>
			<option value="AmThucTheGioi">Ẩm thực thế giới</option>
			<option value="DuLichVietNam">Du lịch Việt Nam</option>
			<option value="DuLichTheGioi">Du Lịch Thế Giới</option>
			<option value="KhoiNghiep">Khởi nghiệp</option>
			<option value="BatDongSan">Bất động sản</option>
		</select>

		<table border="1" class="table" style="margin-top: 20px">
			<tr style="background: #6495ED">
				<th width="600px">Tên bài</th>
				<th>Người viết</th>
				<th>Chuyên mục</th>
				<th>Ngày gửi</th>
				<th width="120 px">Phê duyệt</th>
			</tr>
			<tr>
				<td><a  href="" style="color: blue"> 5 cán bộ Thanh tra tỉnh Thanh Hóa bị khởi tố tội nhận hối lộ </a></td>
				<td>Nguyễn Văn A</td>
				<td>Pháp luật</td>
				<td>20/04/2019</td>
				<td >
					<button style="background: #cccccc" type="button" class="btn btn-primary" data-toggle="modal" data-target="#duyet"><img src="https://img.icons8.com/color/20/000000/checkmark.png"></button>

					<button style="background: #cccccc"s type="button" class="btn btn-primary" data-toggle="modal" data-target="#khongduyet"	 style="margin-left: 10px"><img src="https://img.icons8.com/color/19/000000/close-window.png"></button>
				</td>
			</tr>
			<tr>
				<td><a  href="" style="color: blue">5 cán bộ Thanh tra tỉnh Thanh Hóa bị khởi tố tội nhận hối lộ </a> </td>
				<td>Nguyễn Văn A</td>
				<td>Pháp luật</td>
				<td>20/04/2019</td>
				<td >
					<button style="background: #cccccc" type="button" class="btn btn-primary" data-toggle="modal" data-target="#duyet"><img src="https://img.icons8.com/color/20/000000/checkmark.png"></button>

					<button style="background: #cccccc"s type="button" class="btn btn-primary" data-toggle="modal" data-target="#khongduyet"	 style="margin-left: 10px"><img src="https://img.icons8.com/color/19/000000/close-window.png"></button>
				</td>
			</tr>
			<tr>
				<td><a  href="" style="color: blue">5 cán bộ Thanh tra tỉnh Thanh Hóa bị khởi tố tội nhận hối lộ</a></td>
				<td>Nguyễn Văn A</td>
				<td>Pháp luật</td>
				<td>20/04/2019</td>
				<td >
					<button style="background: #cccccc" type="button" class="btn btn-primary" data-toggle="modal" data-target="#duyet"><img src="https://img.icons8.com/color/20/000000/checkmark.png"></button>

					<button style="background: #cccccc"s type="button" class="btn btn-primary" data-toggle="modal" data-target="#khongduyet"	 style="margin-left: 10px"><img src="https://img.icons8.com/color/19/000000/close-window.png"></button>
				</td>
			</tr>
			<tr>
				<td><a  href="" style="color: blue">5 cán bộ Thanh tra tỉnh Thanh Hóa bị khởi tố tội nhận hối lộ</a></td>
				<td>Nguyễn Văn A</td>
				<td>Pháp luật</td>
				<td>20/04/2019</td>
				<td >
					<button style="background: #cccccc" type="button" class="btn btn-primary" data-toggle="modal" data-target="#duyet"><img src="https://img.icons8.com/color/20/000000/checkmark.png"></button>

					<button style="background: #cccccc"s type="button" class="btn btn-primary" data-toggle="modal" data-target="#khongduyet"	 style="margin-left: 10px"><img src="https://img.icons8.com/color/19/000000/close-window.png"></button>
				</td>
			</tr>
			<tr>
				<td><a  href="" style="color: blue">5 cán bộ Thanh tra tỉnh Thanh Hóa bị khởi tố tội nhận hối lộ</a></td>
				<td>Nguyễn Văn A</td>
				<td>Pháp luật</td>
				<td>20/04/2019</td>
				<td >
					<button style="background: #cccccc" type="button" class="btn btn-primary" data-toggle="modal" data-target="#duyet"><img src="https://img.icons8.com/color/20/000000/checkmark.png"></button>

					<button style="background: #cccccc"s type="button" class="btn btn-primary" data-toggle="modal" data-target="#khongduyet"	 style="margin-left: 10px"><img src="https://img.icons8.com/color/19/000000/close-window.png"></button>
				</td>
			</tr>
		</table>

		<!-- Modal -->
		<div class="modal fade" id="khongduyet" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLongTitle">Nội dung cần chỉnh sửa</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<textarea rows="6" cols="75">
							
						</textarea>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
						<button type="button" class="btn btn-primary">Gửi</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="duyet" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLongTitle">Thông tin bài đăng</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<label>Thêm tag</label>
						<textarea style="border-radius: 5px" rows="2" cols="75"></textarea>
						<label style=" margin-top: 20px">Chọn chuyên mục:</label>
						<select style="border-radius: 5px;margin-left: 20px">
							<option value="BongDa">Bóng đá</option>
							<option value="BongChuyen">Bóng chuyền</option>
							<option value="TinTucHoChiMinh">Tin tức Hồ Chí Minh</option>
							<option value="TinTucNgheAn">Tin tức Nghệ An</option>
							<option value="AmThucVietNam">Ẩm thực Việt Nam</option>
							<option value="AmThucTheGioi">Ẩm thực thế giới</option>
							<option value="DuLichVietNam">Du lịch Việt Nam</option>
							<option value="DuLichTheGioi">Du Lịch Thế Giới</option>
							<option value="KhoiNghiep">Khởi nghiệp</option>
							<option value="BatDongSan">Bất động sản</option>
						</select>
						<br>
						<label style="margin-top: 20px">Ngày đăng:</label>
						<select id="ngaysinh" style="border-radius: 5px;width: 50px; margin-left:20px">
							<script>
								var ngay='';
								for(var i=1;i<=31;i++){
									ngay+='<option>'+i+'</option>';
								}
								document.write(ngay);
							</script>	
						</select>
						<select id="thangsinh" style="border-radius: 5px;width: 50px">
							<script>
								var thang='';
								for(var i=1;i<=12;i++){
									thang+='<option>'+i+'</option>';
								}
								document.write(thang);
							</script>	
						</select>
						<select id="namsinh" style="border-radius: 5px;width: 70px" >
							<script>
								var nam='';		
								for(var i=1960;i<=2019;i++){
									nam+='<option>'+i+'</option>';
								}
								document.write(nam);
							</script>
						</select>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
						<button type="button" class="btn btn-primary">Lưu</button>
					</div>
				</div>
			</div>
		</div>

	</div>