 
 <div style=" ">
        <div
            style="align-items: center;display: flex; flex-direction:column; justify-content: center; width: 30% ;margin: auto; border: 2px solid chocolate ; box-shadow: 2px 3px 3px 2px black; padding: 30px; ">

            <div>
                <label style="color: black"> Nhập mật khẩu cũ</label>
                <br>
                <input style="background: chocolate" class="button" type="password">

            </div>

            <br>
            <div>
                <label style="color: black"> Nhập mật khẩu mới</label>
                <br>
                <input style="background: chocolate" class="button" type="password">

            </div>
            <br>
            <div>

                <label style="color: black"> Nhập lại mật khẩu mới</label>
                <br>
                <input style="background: chocolate" class="button" type="password">

            </div>
            <br>
            <div><a href="index_docGia_TK.html"; >   <button onclick=""; style=" margin-top: 20px; background: orangered"  class="button">Đổi mật khẩu &raquo;</button></a></div>
        </div>

    </div>