<div style="margin-top: 300px;margin-bottom: 50px ">
    <div  class="modal-body"
        style="margin-top: 10px;align-items: center;display: flex; flex-direction:column; justify-content: center; width: 30% ;margin: auto; border: 1px solid gray ; box-shadow: 1px 1px 1px 1px black; padding: 30px; ">

        <div>
            <label style="color: black"> Nhập mật khẩu cũ</label>
            <br>
            <input style="background: #F5F5DC;color:black" class="button" type="password">

        </div>

        <br>
        <div>
            <label style="color: black"> Nhập mật khẩu mới</label>
            <br>
            <input style="background: #F5F5DC;color:black" class="button" type="password">

        </div>
        <br>
        <div>

            <label style="color: black"> Nhập lại mật khẩu mới</label>
            <br>
            <input style="background: #F5F5DC;color:black" class="button" type="password">

        </div>
        <br>
        <div><a href="index_docGia_TK.html" ;> <button onclick="" ; style=" margin-top: 20px; background: #337ab7"
                    class="button">Đổi mật khẩu &raquo;</button></a></div>
    </div>

</div>
