<div class="before-body container">

    <div class="breadcrumb-container row">
        <div class="container-kplus">
            <div class="col-md-12 col-xs-12">

                <h2 class="title">
                    <span>Th&#244;ng tin t&#224;i khoản</span>
                </h2>
            </div>
        </div>
    </div>

</div>
<div class="col-md-3 md-margin-bottom-40">




    <img class="img-responsive profile-img margin-bottom-20"
        src="C:/Users/King_SPG/Desktop/ứng dụng wed/Đồ Án/magexpress/images/300x215x3.jpg" alt="">

    <ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1">
        <li class="list-group-item active">
            <a href="Admin.html" style="color:#F1F1F1"><i class="fa fa-user"></i>Thông tin tài khoản</a>
        </li>

        <li class="list-group-item ">
            <a href="/mykplus/vi-vn/manage/changepassword"><i class="fa fa-lock"></i> Thay đổi mật khẩu</a>
        </li>
        <li class="list-group-item">
            <a href="Admin_giahan.html"><i class="fa fa-arrows"></i> Gia hạn tài khoản người dùng</a>
        </li>
        <li class="list-group-item">
            <a href="Admin_phancong.html"><i class="fa fa-group"></i> Phân công chuyên mục</a>
        </li>
        <li class="list-group-item">
            <a href="Admin_QlchuyenMuc.html"><i class="fa fa-cogs "></i> Quản lý chuyên mục</a>
        </li>
        <li class="list-group-item">
            <a href="Admin_Qltags.html"><i class="fa fa-certificate"></i> Quản lý nhãn tags</a>
        </li>
        <li class="list-group-item">
            <a href="/admin/xemdanhsachbaiviet/"><i class="fa fa-archive"></i> Quản lý bài viết</a>
        </li>
        <li class="list-group-item">
            <a href="/Admin/xemdanhsachnguoidung/"><i class="fa fa-asterisk"></i> Quản Lý Người Dùng</a>
        </li>


    </ul>
    <hr>

</div>
<div class="col-md-9">
    <!--Profile Body-->
    <div class="profile-body margin-bottom-20">
        <div class="tab-v1">
            <div id="profile" class="profile-edit tab-pane fade in active" style="margin: 10px 0 10px;">

                <div class="headline">
                    <h2>QUẢN LÝ TÀI KHOẢN</h2>
                </div>
                <br>
                <div class="col-lg-12 col-md-12">
                    <div class="header_top">
                        <div class="header_top_left">
                            <ul class="top_nav">
                                <li><a style=" font-weight: 600;" href="/admin/xemdanhsachnguoidung">Người dùng
                                    </a></li>
                                      <li><a style=" font-weight: 600;" href="/admin/xemdanhsachEditor">Editor
                                    </a></li>
                                <li><a style=" font-weight: 600;" href="/admin/xemdanhsachDocGia">
                                        Gia hạn
                                    </a></li>
                               

                            </ul>
                        </div>

                    </div>

                </div>
               
                  <br> <br><br><br>
                <table class="table">
                    <thead class="thead-dark">
                        <tr style="background-color: #7092cc; color: white">
                            <th scope="col">Mã phân hệ</th>
                            <th scope="col">Tài Khoản</th>
                            <th scope="col">Hiệu Lực</th>
                            <th scope="col">Gia Hạn</th>


                        </tr>
                    </thead>
                    <tbody>
                        {{#each dsThanhVien}}
                        <tr>
                            <th scope="row">{{PhanHe}}</th>
                            <td><a href="/admin/profile/{{idThanhVien}}">{{Email}}</a></td>
                            <td>6 ngày</td>
                            <td><input type="button" onclick="alert('Tài khoản còn hiệu lực');" value="Gia Hạn"></td>

                        </tr>
                        {{/each}}
                    </tbody>
                </table>


            </div>
        </div>
        <!--End Profile Body-->
    </div>
</div>
</div>