 </div>

    <div style=" ">
        <div
            style="align-items: center;display: flex; flex-direction:column; justify-content: center; width: 30% ;margin: auto; border: 2px solid chocolate ; box-shadow: 2px 3px 3px 2px black; padding: 30px; ">

            <div>
                <label style="color: black"> Nhập địa chỉ email của bạn</label>
                <br>
                <input style="background: chocolate ; width: 340px" class="button" type="text">

            </div>

           
            <div><a href="#"; >   <button onclick=""; style=" margin-top: 20px; background: orangered"  class="button">Gửi &raquo;</button></a></div>
        </div>

    </div>